body {
    margin: 0px;
}

header {
    display: flex;
    background-color: #2980b9;
    justify-content: center;
}

header > a {
    color: #000;
}

#port {
    margin-right: 20px;
}

#port, #eng {
    font-family:'Segoe UI', sans-serif;
}

.container {
    display: flex;
    margin-left: 10%;
}

.content {
    display: flex;
    margin-left: 250px;
    margin-top: 30px;
    margin-right: 649px;
}

#photo {
    width: 30em;
    height: 30em;
}

#text {
    font-family:monospace;
    font-size: 28px;
    margin-left: 25px;
}

#body, #body1, #body2 {
    font-family: monospace;
    font-size: 16px;
    margin-left: 25px;
    text-align: justify;
}

hr {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
}

ul {
    margin-left: 5px;
}

li {
    margin-top: 8px;
    font-size: 18px;
    font-family: monospace;
}

a {
    text-decoration: none;
}

.container2 {
    display: flex;
    justify-content: center;
    margin-top: 26px;
}

#logo {
    width: 200px;
}

#logo2 {
    width: 200px;
}

#scooby {
    border-radius: 15px;
    border: solid 8px #111;
    background-color: #111;
    margin-right: 50px;
    padding-left: 40px;
    padding-right: 40px;
    transition: ease 0.2s;
    box-shadow: 0 5px 20px 5px #111;
}

#kaylan {
    border-radius: 15px;
    border: solid 8px #111;
    background-color: #111;
    padding-left: 40px;
    padding-right: 40px;
    transition: ease 0.2s;
    box-shadow: 0 5px 20px 5px #111;
}

#scooby:hover {
    transform: scale(1.02);
}

#kaylan:hover {
    transform: scale(1.02);
}

#portfolio {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

h2 {
    margin-top: 0px;
}

@media only screen and (min-width: 320px) {
    h2 {
        margin-top: 15px;
    }
    
    .content {
        flex-wrap: wrap;
        margin-left: 0px;
    }
    
    #photo {
        width: 20em;
        height: 35em;
    }
    
    #text, #body, #body1, #body2 {
        margin-left: 0px;
    }
    
    #logo, #logo2 {
        width: 100px;
    }
    
    #scooby {
        margin-right: 10px;
        box-shadow: 0 5px 20px 5px #111;
    }
    
    #kaylan {
        box-shadow: 0 5px 20px 5px #111;
    }
    
    .container2 {
        margin-bottom: 30px;
    }
    
    ul {
        margin-left: 0px;
    }
    
}

@media only screen and (max-width: 480px) {
    .content {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 481px) {
    .content {
        flex-wrap: nowrap;
    }
    
    #photo {
        height: 35em;
        width: 20em;
    }
    
    #logo, #logo2 {
        width: 130px;
    }
    
    #scooby {
        margin-right: 30px;
        box-shadow: 0 5px 20px 5px #111;
    }

    #kaylan {
        box-shadow: 0 5px 20px 5px #111;
    }
    
    .container2 {
        margin-bottom: 30px;
    }
    
    #text, #body, #body1, #body2 {
        margin-left: 20px;
    }
    
    h2 {
        margin-top: 0px;
    }
}

@media only screen and (min-width: 769px) {
    .content {
        margin-left: 0px;
    }
    
    #text, #body, #body1, #body2 {
        margin-left: 20px;
    }
    
    #photo {
        margin-right: 20px;
    }
    
    h2 {
        margin-top: 0px;
    }
}

@media only screen and (min-width:1025px) {
    .container {
        margin-left: 1%;
    }
    
    .content {
        margin-left: 200px;
    }
}

@media only screen and (min-width:1280px) {
    .container {
        margin-top: 20px;
        display: flex;
        margin-left: 1%;
        flex-wrap: nowrap;
    }
    
    .content {
        display: flex;
        margin-left: 0px;
        flex-wrap: nowrap;
        margin-right: 0px;
        width: 1000px;
    }

    #photo {
        margin-left: 80px;
    }
}
